* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* General */
body {
    margin: 2rem;
    background-color: rgb(134, 89, 89);
}

section {
    margin: 2rem;
}

/* Header */
header {
    text-align: center;
}

h1 {
    font-size: x-large;
    padding: 1rem;
}

/* Cards */
.cards {
    column-count: 7;
}

.card {
    width: 102%;
    border: solid;
    border-radius: 10%;
    height: 7rem;
}

.closed {
    filter: brightness(0);
}

.paired {
    filter: grayscale(0);
}

.hidden {
    display: none;
}

/* Score */
.score {
    text-align: center;
}

.move-count {
    display: inline;
    padding: 1rem;
}

.record-count {
    display: inline;
    padding: 1rem;
}

/* Footer */
footer {
    text-align: center;
}

button {
    border: solid;
    border-radius: 10%;
    background-color: brown;
    font-size: 1rem;
    padding: 0.5rem;
}