* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* General */
body {

}

section {

}

header {

}

/* Header */

h1 {

}

p {

}

/* Cards */
.cards {
    
}

.closed {

}

.paired {

}

.win {

}

/* Score */

.movecount {

}

.recordcount {

}

/* Footer */

button {

}